body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("https://catherineasquithgallery.com/uploads/posts/2021-02/1612793988_125-p-goluboi-grafichnii-fon-168.jpg");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root{
  height: 97lvh;
}

#headerField{
  background-color: rgb(16, 16, 94);
  display: flex;
  margin-bottom: 20px;
  height: 70px;
  width: 100%;
  flex-direction: row;
  align-content: space-around;
  justify-content: center;
}

.headerButton{
  text-decoration: none;
  color:white;
  background-color: rgb(16, 16, 94);
  display: flex;
  height: 100%;
  width: 30%;
  align-items: center;
  justify-content: center;
}

.headerButton:hover{
  color:rgb(16, 16, 94);
  background-color: white;
  transition: 1s;
  cursor: pointer;
}

#TimePlace{
  margin: 15px;
}

#AuthBlock{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: baseline;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.4);
  width: 25%;
}

#AuthPage{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  align-content: baseline;
  height: 300px;
  width: 100%;
}

#EnterButton{
  background-color: rgb(16, 16, 94, 0.4);
  color:white;
}

#EnterButton:hover{
  background-color: rgb(16, 16, 94, 1);
  cursor: pointer;
}


#dataField{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#EnterButton{
  margin-left: 30px;
  margin-top: 15px;
  margin-right: 30px;
  width: 50px;
  height: 25px;
}

#UniverName{
  text-decoration: none;
  margin-top: 15px;
  margin-left: 10px;
  color:white;
}

.sitePage{
  height: 70%;
}

#RegPage{
  display: flex;
  justify-content: center;
  align-items: center;
}

.RegBlock{
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.4);
}

#RegTitle{
  color: rgb(16, 16, 94);
}

.RegField{
  width: 200px;
  margin: 10px;
}

.RegFieldButton{
  width: 200px;
  cursor: pointer;
  background-color:rgb(16, 16, 94);
  color: white;
  margin-bottom: 15px;
}

.RegFieldButton:hover{
  background-color:white;
  color:rgb(16, 16, 94);
  transition: 0.3s;
}

.ProfilePage{
  
}

#mainBody{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20px;
}

.descTextPlace{
  position: relative;
  color: white;
  bottom: 30px;
  left: 10px;
}

.slideImg{
  width: 400px;
  height: 250px;
}

#slides{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.slideItem{
  margin: 10px;
}

.slideItem:hover{
  cursor: pointer;
}

.FakeButton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 250px;
  margin: 10px;
  border-radius: 25% 10%;
  background-color: rgb(16, 16, 94, 0.4);
}

.FakeButtonText{
  color:white
}

.FakeButton:hover{
  cursor: pointer;
  transition: 1s;
  background-color: rgb(16, 16, 94, 1);
}

#ProfilePage{
  margin: 10px;
  width: 95%;
  background-color: white;
  height: 75%;
  display: flex;
  flex-direction: column
}

#ImagePlace{
  display: flex;
  width: 30%;
  flex-direction: column;
}

.ProfileImage{
  margin: 10px;
  width: 90%;
  height: 65%;
}

#ChangeImage{
  color:white;
  background-color: rgb(16, 16, 94);
  display: flex;
  width: 90%;
  height: 5%;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

#ChangeImage:hover{
  color:rgb(16, 16, 94);
  background-color: white;
  transition: 1s;
  cursor: pointer;
}

#lkPage{
  background-color: rgb(16, 16, 94);
  text-align: center;
  height: 50px;
  font-size: 20pt;
  color:white;
}

#UserCart{
  display: flex;
  height: 80%;
  flex-direction: row;
}

#DataPlace{
  margin: 10px;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#ChangeImageArea{
  margin: 50px;
}

#CoursesPage{
  display: flex;
  justify-content: center;
}

#CoursesPlaces{
  overflow-y: scroll;
}

.CourseItem{
  height: 75px;
  color: white;
  background-color: rgb(16, 16, 94);
  width: 300px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.CourseItemIMG{
  margin: 10px;
  height: 50px;
}

.CoursePageItem{
  margin: 15px;
  height: 75px;
  color: white;
  background-color: rgb(16, 16, 94);
  width: 900px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

#otherNewsBlock{
  overflow-y: scroll;
}

#newsBlock{
  height: 400px;
  background-color: white;
}

#mainBody{
  margin: 30px;
  width: 1000px;
  height: 500px;
}

#newsBlockHeader{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: rgb(16, 16, 94);
  color: white;
  font-size: 20pt;
}

#currentNewsBlock{
  border-right: 1px solid rgb(16, 16, 94);
  position: relative;
  width: 750px;
  height: 100%;
  align-content: space-between;
  justify-content: space-between;
}

#otherNewsBlock{
  height: 100%;
  width: 250px;
}

.newsItemIMG{
  height: 50px;
  width: 50px;
  margin-left: 15px;
  margin-right: 15px;
}

#newsBlock{
  display: flex;
  flex-direction: row;
}

.newsItem{
  margin-top: 15px;
  display: flex;
  align-content: center;
}

#currentNewsText{
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 46.6%;
  width: 400px;
  height: 200px;
  color: white;
  background-color: rgb(16, 16, 94, 0.85);
}

#currentImage{
  position: absolute;
  width: 100%;
  height: 100%;
}

.ImageButton{
  background-color: rgb(16, 16, 94);
  color: white;
  height: 10px;
  width: 10px;
  cursor: pointer;
}

#NextImage{
  left: 70%;
}

#textInfo{
  display: flex;
  flex-direction: column;
}

#textHeader{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#newsText{
  text-overflow: ellipsis;
}

#sitePodval{
  background-color:rgb(16, 16, 94);
  height: 12dvh;
}

#TimePlace{
  color:white;
}

#newsPage{
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#newsPageBlock{
  background-color: rgb(255, 255, 255, 0.7);
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.newsPageButton{
  color:rgb(16, 16, 94)
}

.newsPageButton:hover{
  cursor: pointer;
  color: white;
  background-color: rgb(16, 16, 94);
}

#newsPageImagesField{
  width: 90%;
  height: 500px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

#newsPageImage{
  width: 100%;
}

#ControlPanelField{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 500px;
  background-color: rgb(255, 255, 255);
}
#ControlPanelTitle{
  display: flex;
  justify-content: center;
  color:rgb(16, 16, 94);
  font-size: 20pt;
}

#ControlPanelButtons{
  margin: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.ControlPanelButton{
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  height: auto;
  width: auto;
  padding: 10px;
  border: 1px solid rgb(16, 16, 94);
  color: rgb(16, 16, 94);
  background-color: white;
}

.ControlPanelButton:hover{
  background-color: rgb(16, 16, 94);
  transition: 1000ms;
  color: white;
}

.newItemPage{
  background-color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 75%;
  justify-content: space-evenly;
}

.ItemField{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid white;
  background-color: rgb(16, 16, 94);
  width: 95%;
  height: 20%;
}

.TextInput{
  height: 70%;
  width: 70%;
  min-height: 70%;
  max-height: 70%;
  min-width: 70%;
  max-width: 70%;
}

#NewsImagesLine{
  flex-direction: row;
}

.NewNewsImageItem{
  height: 40px;
  width: 40px;
  margin: 10px;
}

.CourseEditButton{
  margin-left: 10px;
  text-decoration: none;
  background-color: white;
  cursor: pointer;
  color: rgb(16, 16, 94);
}

.CourseEditButton:hover{
  color: white;
  background-color: rgb(16, 16, 94);
  border: 1px solid white;
}

#NewsControlPanel{
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  background-color: rgb(16, 16, 94);
  color: white;
  align-items: center;
}

.NewsControlButton{
  text-decoration: none;
  width:85%;
  height: auto;
  background-color: rgb(16, 16, 94);
  margin-top: 20px;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

.NewsControlButton:hover{
  color: rgb(16, 16, 94);
  background-color: white;
  cursor: pointer;
}

#userListPage{
  display: flex;
  justify-content: center;
}

#userTable{
  height: 95%;
  width: 80%;
  background-color: white;
}

.userTableItem{
  height: auto;
  width: 100%;
  display: flex;
  border: 1px solid black;
  justify-content: space-between;
}

.tableRightSide{
  align-items: center;
  display: flex;
  flex-direction: row;
  height: auto;
  width: 60%;
  padding: 5px 5px;
}

.tableLeftSide{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: auto;
  width: 40%;
  padding: 5px 5px;
}

.deleteUserButton{
  display: flex;
  padding: 5px 5px;
  text-decoration: none;
  color:rgb(16, 16, 94);
  cursor:pointer;
  align-items: center;
}

.deleteUserButton:hover{
  height: auto;
  background-color: rgb(16, 16, 94);
  color:white;
}

#userEditPage{
  background-color: white;
}

#userImageArea{
  width: 40%;
  height: 100%;
}

#AcceptChanges{
  cursor: pointer;
  border: 1px solid rgb(16, 16, 94);
  color: rgb(16, 16, 94)
}

#AcceptChanges:hover{
  color: white;
  background-color: rgb(16, 16, 94);
}